@media(min-width:768px) {
    .intro {
        height: 100%;
        padding: 0;
    }

    .intro .intro-body .brand-heading {
        font-size: 72px;
    }

    .intro .intro-body .intro-text {
        font-size: 26px;
    }
}

